h1,
h2,
h3 {
  margin: auto;
  color: #cc0000;
}
div.note {
  margin-bottom: 20px;
  padding: 10px;
}
#answer {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  h1 {
    background-color: lightblue;
  }
}

@three-dee {
  h1 {
    color: red;
  }
}

h3 {
  background-color: lightblue;
}
