/* tag selector */
h1 {
  display: none;
}

/* selector with descendant */
p a {
  display: none;
}

/* selector with descendants */
div p a {
  display: none;
}

/* selectors with pseudo-class */
a,
a:visited,
a:link,
div a {
  display: none;
}

/* id selector */
#id {
  display: none;
}

/* id selector with descendant */
#id a {
  display: none;
}

/* class selector */
.class {
  display: none;
}

/* multiple class selector */
.class1.class2.class3 {
  display: none;
}

/* multiple class selector with descendant */
.class1.class2.class3 a {
  display: none;
}

/* combination of tag class and id */
div#id.class {
  display: none;
}

/* combination of tag class and id with descendant */
div#id.class a.class1.class2.class3 {
  display: none;
}

/* comment */
h1,
h2,
h3 /* comment */ {
  margin:   /* comment */ auto /* comment */ auto /* comment */;

  /* comment */
  color: #cc0000;
}

/* at-rule */
@three-dee {
  h1 {
    display: none;
  }
}

/* at-rule with value*/
@media only screen and (max-width: 600px) {
  h1 {
    display: none;
  }
}
